<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Tech Watch</title>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	{% include 'header.html' %}

	<section class="container-01">

		<div class="date-block">
			<h2>{{ date_time.day_week }}</h2>
			<p>{{ date_time.date }}</p>
		</div>

		<div class="clock-block">
			<h2 id="clock"></h2>
		</div>

		<div class="weather">
			<section>
				<div>
					<p>Weather Forecast</p>
					<span id="city"></span>
					<p id="day_week">{{ date_time.day_week }}</p>
					<span id="temperature">{{ weather_info['city'] }}</span>
					<p>Sunrise: <br>
						<span id="sunrise_sub">{{ weather_info['sunrise'] }}</span>
					</p>
					<p>Last update: <br>
						<span id="last_update"></span>
					</p>
				</div>
				<div>
					<img src="../static/img/{{ weather_info['sky'][0] }}.png" alt="">
					<p id="sky">{{ weather_info['sky'][0] }}<br>
						<span id="sky_sub">{{ weather_info['sky'][1] }}</span>
					</p>
					<p>Humidity: <br>
						<span id="humidity_sub">{{ weather_info['humidity'] }}</span>
					</p>
					<p>Sunset: <br>
						<span id="sunset_sub">{{ weather_info['sunset'] }}</span>
					</p>
				</div>
			</section>
		</div>

	</section>


	<section class="container-02">
		<section class="sys-info">
			<!-- Операционная система -->
			<hr>
			<h2>OS</h2>
			<h3 id="os_info">{{ system_information.info_os }}</h3>
			<!-- Процессоры (ядра) -->
			<hr>
			<h2>CPU</h2>
			<ul id="cpu_percent" class="cpu_percent">
				{% for cpu in system_information.info_cpu %}
					<div class="progress-bar-container">
						<div>
							<span>CPU {{ loop.index }}:</span>
						</div>
						<div class="progress-bar cpu-progress">
							<div class="progress-bar-fill" id="cpuBar{{ loop.index }}"></div>
						</div>
						<div>
							<span id="cpuPercent{{ loop.index }}">{{ cpu }}</span>
						</div>
					</div>
				{% endfor %}
			</ul>
			<!-- Оперативная память -->
			<hr>
			<h2>RAM</h2>
			<div>
				<h3 id="memory_usage">{{ system_information.info_memory.memory_usage }}</h3>
				<h3 id="total_memory">{{ system_information.info_memory.total_memory }}</h3>
				<h3 id="memory_percent">{{ system_information.info_memory.memory_percent }}</h3>
			</div>
			<div class="progress-bar-container">
				<div class="progress-bar">
				  <div class="progress-bar-fill" id="memoryBar"></div>
				</div>
			</div>
			<hr>
			<!-- Постоянная память -->
			<h2>ROM</h2>
			{% for i in range(system_information.info_disks | length) %}
				<h3>{{ system_information.info_disks[i]['disk_title'] }}</h3>
				<div class="progress-bar-container">
					<div class="progress-bar">
						<div class="progress-bar-fill" id="disk_{{i}}"></div>
					</div>
					<div class="progress-bar-label"></div>
				</div>
			{% endfor %}
		</section>

		<section class="note-block">
			<h2 class="note-block-title">Tasks</h2>
			<ul class="notes-list" id="notesList"></ul>
			<form id="addNoteForm">
				<input type="text" id="noteInput" placeholder="Add a task" class="note-input">
				<input type="submit" value="Add a Task" id="addNoteButton" class="note-button">
			</form>
		</section>
		
		<section class="quote-block">
			<h2>Quotes</h2>
			<div>
				<h3 class="quote-text"></h3>
				<p class="quote-author"></p>
			</div>
			<button class="quote-button" id="get-quote-btn">The following quote</button>
			<a href="/manage-quotes" class="button-redirect" id="manage-quote-btn">Manage the quote</a>
		</section>

	</section>

	<section class="container-02">
		<section class="currency-container">
			<div class="cur-last-update">
				<p>Last update:</p>
				<span id="currency_last_update">{{currency_last_update}}</span>
			</div>
			{% for currency_info in currency_info %}
				<div class="cur-pub">
					<div class="cur-vertical">
						<p>{{ currency_info['Currency Name'] }}</p>
						<div class="cur-horizontal">
							<img src="../static/img/{{ currency_info['Country code'] }}.png" alt="{{ currency_info['Country code'] }}">
							<span>{{ currency_info['Course'] }}</span>
							<span class="triangle {% if currency_info['Delta'][0] == '+' %}up{% elif currency_info['Delta'][0] == '-' %}down{% endif %}"></span>
							<p style="color: {% if currency_info['Delta'][0] == '+' %}#4AE776{% elif currency_info['Delta'][0] == '-' %}#E74A53{% endif %};">{{ currency_info['Delta'] }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
	</section>

	{% include 'footer.html' %}

</body>

<script>
	$(document).ready(function() {
		// Функция для выполнения AJAX-запроса и обновления значения span
		function updateLastUpdate() {
			$.ajax({
				url: "/currency",
				type: "GET",
				success: function(response) {
					// Обновление значения span
					$("span#currency_last_update").text(response);
				},
				error: function(xhr, status, error) {
					// Обработка ошибки запроса
					console.error("AJAX request error:", error);
				}
			});
		}
	
		// Выполнение первичного запроса при загрузке страницы
		updateLastUpdate();
	
		// Установка интервала обновления в 30 секунд
		setInterval(updateLastUpdate, 30000);
	});
</script>

<script src="../static/js/colors-bg.js"></script>
<script src="../static/js/weather.js"></script>
<script src="../static/js/notes.js"></script>
<script src="../static/js/quotes.js"></script>
<script src="../static/js/progress_bars.js"></script>
<script src="../static/js/battery.js"></script>
<script src="../static/js/ram.js"></script>
<script src="../static/js/clock.js"></script>

</html>
