<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Tech Watch</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../static/img/tw.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<style>
	
</style>
<body>

	<header>
		<!-- Костыль -->
		<button id="colorButton"></button>
		<div>
			<div class="icon">
				<img src="../static/img/setting.png" alt="">
			</div> <!-- Иконка для раскрытия блока -->
			<div class="color-buttons">
				<div class="color-button">
				  <div class="color-button-dropdown">
					{% for color, hex in colors.items() %}
						<button data-color="{{ hex }}" style="background-color: {{hex}}">{{ color }}</button>
					{% endfor %}
				  </div>
				</div>
			</div>
			<p>{{ hostname }}</p>
		</div>
		<div>
			<h2>{{ greeting }}</h2>
		</div>
		<div>
			<p id="battery-percent">{{ battery.percent }}%</p>
			<img id="battery-level-img" src="../static/img/battery-{{battery.battery_level}}.png" alt="battery-icon">
			<p id="battery_time_left">{{ battery.time_left }}</p>
		</div>
	</header>

	<section class="container-01">

		<div class="date-block">
			<h2>{{ date.day_week }}</h2>
			<p>{{ date.date }}</p>
		</div>

		<div class="clock-block">
			<h2 id="clock">{{ time }}</h2>
		</div>

		<div class="weather">
			<section>
				<div>
					<p>Weather Forecast</p>
					<br>
					<span id="city"></span>
					<p id="day_week">{{ date.day_week }}</p>
					<span id="temperature">{{ weather_info['temperature'] }}</span>
					<p>Sunrise: <br>
						<span id="sunrise_sub">{{ weather_info['sunrise'] }}</span>
					</p>
					<p>Last update: <br>
						<span id="last_update"></span>
					</p>
				</div>
				<div>
					<img src="../static/img/{{ weather_info['sky'][0] }}.png" alt="">
					<p id="sky">{{ weather_info['sky'] }}<br>
						<span id="sky_sub">{{ weather_info['sky'] }}</span>
					</p>
					<p>Humidity: <br>
						<span id="humidity_sub">{{ weather_info['humidity'] }}%</span>
					</p>
					<p>Sunset: <br>
						<span id="sunset_sub">{{ weather_info['sunset'] }}</span>
					</p>
				</div>
			</section>
		</div>

	</section>

	<section class="container-02">
		<div class="sys-info">
			<!-- Операционная система -->
			<hr>
			<h2>OS</h2>
			<h3 id="os_info">{{ os_info  }}</h3>
			<hr>
			<h2>CPU</h2>
			<ul id="cpu_percent" class="cpu_percent">
				{% for cpu in cpu_percent %}
					<div class="progress-bar-container">
						<div>
							<span>CPU {{ loop.index }}:</span>
						</div>
						<div class="progress-bar cpu-progress">
							<div class="progress-bar-fill" id="cpuBar{{ loop.index }}"></div>
						</div>
						<div>
							<span id="cpuPercent{{ loop.index }}">{{ cpu }}</span>
						</div>
					</div>
				{% endfor %}
			</ul>
			<!-- Оперативная память -->
			<hr>
			<h2>RAM</h2>
			<div>
				<h3 id="memory_usage">{{ memory.memory_usage }}</h3>
				<h3 id="total_memory">{{ memory.total_memory }}</h3>
				<h3 id="memory_percent">{{ memory.memory_percent }}</h3>
			</div>
			<div class="progress-bar-container">
				<div class="progress-bar">
				  <div class="progress-bar-fill" id="memoryBar"></div>
				</div>
			</div>
			<hr>
			<!-- Постоянная память -->
			<h2>ROM</h2>
			{% for i in range(disk_info | length) %}
				<h3>{{ disk_info[i] }}</h3>
			{% endfor %}
			<div class="progress-bar-container">
				<div class="progress-bar">
				  	<div class="progress-bar-fill" id="diskCBar"></div>
				</div>
				<div class="progress-bar-label" id="diskCLabel"></div>
			</div>
			<div class="progress-bar-container">
				<div class="progress-bar">
				  	<div class="progress-bar-fill" id="diskDBar"></div>
				</div>
				<div class="progress-bar-label" id="diskDLabel"></div>
			</div>
		</div>

		<div class="note-block">
			<h2 class="note-block-title">Tasks</h2>
			<ul class="notes-list" id="notesList"></ul>
			<form id="addNoteForm">
				<input type="text" id="noteInput" placeholder="Place for task..." class="note-input">
				<input type="submit" value="Add Task" id="addNoteButton" class="note-button">
			</form>
		</div>
		
		<div class="quote-block">
			<h2>Quotes</h2>
			<div>
				<h3 class="quote-text"></h3>
				<p class="quote-author"></p>
			</div>
			<button class="quote-button" id="get-quote-btn">The following quote</button>
		</div>

	</section>

	<footer>
        <a target="_blank" href="https://berliner187.github.io">KOZAK • DEVELOPER ↗</a>
		<p>Tech Watch, 2023</p>
		<p>Version: {{ current_version }}</p>
    </footer>

</body>

<script src="../static/js/colors-bg.js"></script>
<script src="../static/js/weather.js"></script>
<script src="../static/js/notes.js"></script>
<script src="../static/js/quotes.js"></script>
<script src="../static/js/progress_bars.js"></script>
<script src="../static/js/battery.js"></script>
<script src="../static/js/ram.js"></script>
<script src="../static/js/clock.js"></script>

</html>
